#body {
    background-image:url("bg1.jpg");
    background-position: center;
    background-size: cover;
}

#myCanvas {
    border-width: 5px;
    border-style: ridge;
    background-color: white;
}